repos:
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    -   id: black
        exclude: ^docs/conf\.py$
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    -   id: flake8
        additional_dependencies: [flake8-docstrings]
-   repo: https://github.com/PyCQA/isort
    rev: 5.6.4
    hooks:
    -   id: isort
        name: isort (python)
